<h1>Login</h1>

<%= form_with :url => "/sessions" do |form| %>
  <div class="mb-3">
    <%= form.label "username", :class => "form-label" %>
    <%= form.text_field "username", :class => "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label "password", :class => "form-label" %>
    <%= form.password_field "password", :class => "form-control" %>
  </div>
  <div>
    <%= form.submit "Login", :class => "btn btn-primary" %>
  </div>
<% end %>

<script>
    function hideImage('https://images.unsplash.com/photo-1504544750208-dc0358e63f7f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1334&q=80') {
      var image = document.getElementById("backgroundImage");
      image.classList.add("hidden");
    }
  </script>